.grid {
  display: grid;
  grid-template-rows: repeat(7, auto);
  grid-template-columns: 1fr 1.5fr 0.5fr 3fr;
  gap: 0.5rem;
  height: 90vh;
  width: 100vw;
  padding: 1rem;
  background-color: #fefbf3;
  box-sizing: border-box;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

/* Column 1 */
.dayLabel {
  grid-column: 1 / 2;
  max-height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #eec3b4;
  align-self: flex-start;
  border-radius: 20px;
  font-weight: bold;
  color: #fff;
  cursor: pointer;
  border-left: 6px solid #007acc;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
  /* margin: 0.5rem 0; */
  padding: 2rem 0;
}

.dayLabel:hover,
.selected {
  background-color: #007acc;
}

/* Column 2 */
.meal {
  grid-column: 2 / 3;
  display: flex;
  align-items: center;
  justify-content: center;
}

.mealButton {
  align-self: flex-start;
  background-color: #eec3b4;
  padding: 0.75rem 0rem;
  border-radius: 20px;
  width: 100%;
  max-width: 300px;
  text-align: center;
  font-size: 1.2rem;
  color: #fefbf3;
  cursor: default;
  transition: background-color 0.2s ease;
}

.mealButton:hover {
  background-color: #007acc;
}

.placeholder {
  border-left: 6px solid #007acc;
  border-right: 6px solid #007acc;
  font-style: italic;
  cursor: pointer;
}

/* Column 3 */
.icons {
  grid-column: 3 / 4;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}

.icon {
  width: 64px;
  height: 64px;
  cursor: pointer;
  transition: transform 0.2s ease;
}

.icon:hover {
  transform: scale(1.2);
}

.preview {
  grid-column: 4 / 5;
  grid-row: 1 / span 7;
  padding: 1rem;
  border-left: 1px solid #ddd;
}

.modalContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 4rem 4rem;
  margin: 0 auto;
  width: 50%;
  height: 60%;

  background-color: #ea9881;
  font-family: "Inter", sans-serif;
  text-align: center;
  position: fixed;

  z-index: 1000;
  backdrop-filter: blur(5px);
  /* -webkit-backdrop-filter: blur(5px); */
  border-radius: 0.5rem;
  box-shadow: 0 8px 8px rgba(0, 0, 0, 9);
  /* hor ver blur spr col/int */
  opacity: 0.9;
  transition: opacity 2.3s ease;
}
